</div>
</main>
<footer>
  <div class="fixed-container">
    <div class="logo"><img src="../img/icons/logo.svg" alt=""></div>
    <span>Copyright © EasyMoney<br />2020</span>
  </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io.connect();
</script>
<script src="../js/index.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>

</html>