</div>
</main>
<footer>
  <div class="fixed-container">
    <div class="logo">LOGO</div>
    <span>Copyright © EasyMoney<br />2020</span>
  </div>
</footer>
<script src="../js/index.js"></script>
</body>

</html>