<h2>Бонусные монетки</h2>
<div class="green-line"></div>
<div class="bonus-body">
    <h5>Для того, чтобы получить бонусные монеты<br />необходимо вступить в нашу группу ВКонтакте</h5>
    <p>15 монет можно получить <span>1 раз в день</span></p>
    <p><span>1 монету</span> можно получать каждые <span>5 минут</span> с 10:00 до 00:00 по мск</p>
    <div class="grey-line"></div>
    <div class="btn-login btn-writevk">
        Получить 20 монеток <img src="../img/icons/right.svg" alt="arrow" />
    </div>
    <div class="grey-line"></div>
    <div class="bonus-body__warning">
        <img src="../img/icons/notification.svg">
        <div class="bonus-body__warning__text">
            <p>Не забудьте разрешить сообществу писать Вам!</p>
            <p>
                Разрешите уведомлять вас о наших акциях и бонусах.
                <br />Нажмите <span>«получать уведомления»</span> и <span>«разрешить»</span>
            </p>
        </div>
    </div>
</div>