<h2>FAQ</h2>
<div class="green-line"></div>
<div class="faq-answers">
    <div class="faq-answers__answer">
        <div class="faq-answers__answer__title">
            <div class="faq-answers__answer__title__icon">
                <img src="../img/icons/question.svg" alt="">
            </div>
            <h5>Не пришли деньги после пополнения</h5>
            <img class="faq-arrow" src="../img/icons/next.svg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>
    <div class="faq-answers__answer">
        <div class="faq-answers__answer__title">
            <div class="faq-answers__answer__title__icon">
                <img src="../img/icons/question.svg" alt="">
            </div>
            <h5>Не пришли деньги после пополнения</h5>
            <img class="faq-arrow" src="../img/icons/next.svg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>
    <div class="faq-answers__answer">
        <div class="faq-answers__answer__title">
            <div class="faq-answers__answer__title__icon">
                <img src="../img/icons/question.svg" alt="">
            </div>
            <h5>Не пришли деньги после пополнения</h5>
            <img class="faq-arrow" src="../img/icons/next.svg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>
    <div class="faq-answers__answer">
        <div class="faq-answers__answer__title">
            <div class="faq-answers__answer__title__icon">
                <img src="../img/icons/question.svg" alt="">
            </div>
            <h5>Не пришли деньги после пополнения</h5>
            <img class="faq-arrow" src="../img/icons/next.svg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>
    <div class="faq-answers__answer">
        <div class="faq-answers__answer__title">
            <div class="faq-answers__answer__title__icon">
                <img src="../img/icons/question.svg" alt="">
            </div>
            <h5>Не пришли деньги после пополнения</h5>
            <img class="faq-arrow" src="../img/icons/next.svg" alt="">
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
            Quis ipsum suspendisse ultrices gravida.
            Risus commodo viverra maecenas accumsan lacus vel facilisis.
        </p>
    </div>
</div>
<span class="faq-span">Не нашли ответа на свой вопрос? — Напишите нам ВКонтакте</span>
<a href="https://vk.com/im?media=&sel=-193370373" target="_blank" class="btn-login btn-writevk">
    Написать <img src="../img/icons/right.svg" alt="arrow" />
</a>