<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>EasyMoney</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <header>
        <div class="fixed-container">
            <div class="logo"><img src="img/icons/logo.svg" alt=""></div>
            <nav class="header__buttons">
                <span>Наши преимущества</span>
                <a href="http://localhost:3000/auth/vkontakte/" class="btn-login">
                    <img src="img/icons/vk.svg" alt="" />Войти через ВК
                </a>
                <a href="http://localhost:3000/auth/vkontakte/" class="btn-login btn-login-mob">
                    <img src="img/icons/vk.svg" alt="" />
                </a>
            </nav>
        </div>
    </header>
    <main>
        <section class="first-section">
            <div class="fixed-container">
                <div class="first-section__desc">
                    <div class="first-section__desc__online-casino">
                        <div class="grey-line"></div>
                        <span>ОНЛАЙН-РУЛЕТКА</span>
                    </div>
                    <h1>Зарабатывай играя<br />вместе с нами!</h1>
                    <div class="green-line"></div>
                    <p>
                        Мы самая лучшая онлайн рулетка в рунете<br />убедись в этом сам:
                    </p>
                    <div class="first-section__desc__statistics">
                        <a href="http://localhost:3000/auth/vkontakte/" class="btn-login">
                            <img src="img/icons/vk.svg" alt="vk icon" />Войти через ВК
                        </a>
                        <div class="first-section__desc__statistics__online">
                            <span>Сейчас играют:</span>
                            <div class="first-section__desc__statistics__online__users">
                                <img src="img/icons/user.svg" alt="user icon" />
                                <span>23718</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first-section__img">
                    <img src="img/mac.png" alt="mac icon" />
                </div>
            </div>
        </section>
        <section class="second-section">
            <div class="fixed-container">
                <div class="second-section__title">
                    <h2>Наши преимущества</h2>
                    <div class="green-line"></div>
                </div>
                <div class="second-section__items">
                    <div class="second-section__items__item">
                        <img src="img/coins1.png" alt="coins1" class="coins1">
                        <img src="img/icons/dice.svg" alt="dice">
                        <h3>Лучшее казино</h3>
                        <div class="green-line"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.
                            Quis ipsum suspendisse ultrices gravida.
                        </p>
                    </div>
                    <div class="second-section__items__item">
                        <img src="img/icons/credit-card.svg" alt="credit-card">
                        <h3>Быстрые выплаты</h3>
                        <div class="green-line"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            Risus commodo.
                        </p>
                    </div>
                    <div class="second-section__items__item">
                        <img src="img/banner.png" alt="banner" class="banner">
                        <img src="img/icons/handshake.svg" alt="">
                        <h3>Только честная игра</h3>
                        <div class="green-line"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et Risus commodo viverra maecenas accumsan
                            lacus
                            vel facilisis.
                        </p>
                    </div>
                </div>
                <a href="http://localhost:3000/auth/vkontakte/" class="btn-login">
                    <img src="img/icons/vk.svg" alt="vk icon" />Войти через ВК
                </a>
            </div>
        </section>
        </div>
    </main>
    <footer>
        <div class="fixed-container">
            <img src="img/coins2.png" alt="coins2" class="coins2">
            <div class="logo"><img src="img/icons/logo.svg" alt=""></div>
            <span>Copyright © EasyMoney<br />2020</span>
        </div>
    </footer>
</body>

</html>