<div class="nvuti-body">
    <img class="logo" src="../img/icons/logo.svg">
    <h2>Nvuti</h2>
    <div class="green-line"></div>
    <div class="nvuti-body__warning">
        <img src="../img/icons/information.svg">
        <p>
            Этот режим создан для игроков Nvuti. Мы не хотим, чтобы вас обманывали и кидали на деньги
            фейковые сайты. У нас все максимально честно и прозрачно (RANDOM.ORG)
        </p>
    </div>
    <div class="nvuti-body__stats">
        <div class="nvuti-body__stats__user-amount">
            <span>Сумма</span>
            <input type="number">
            <button class="double-amount">Удвоить</button>
        </div>
        <div class="nvuti-body__stats__user-percent">
            <span>Процент</span>
            <input type="number">
            <button class="double-percent">Удвоить</button>
        </div>
        <div class="nvuti-body__stats__user-chance">
            <span class="chance">3</span>
            <span class="text">Возможный выигрыш</span>
            <div class="nvuti-body__stats__user-chance__buttons">
                <div class="nvuti-body__stats__user-chance__less">
                    <span>0-900000</span>
                    <button>Меньше</button>
                </div>
                <div class="nvuti-body__stats__user-chance__more">
                    <span>100000-999999</span>
                    <button>Меньше</button>
                </div>
            </div>
        </div>
    </div>
    <div class="nvuti-body__bets">
        <h5>Последние игры</h5>
        <div class='nvuti-body__bets__header'>
            <span class="bets-header__name">Имя</span>
            <span class="bets-header__number">Число</span>
            <span class="bets-header__goal">Цель</span>
            <span class="bets-header__sum">Сумма</span>
            <span class="bets-header__chance">Шанс</span>
            <span class="bets-header__prize">Выигрыш</span>
        </div>
        <div class='nvuti-body__bets__item'>
            <span class="bets-body__name">Кирилл Арефьев</span>
            <span class="bets-body__number">353838</span>
            <span class="bets-body__goal">300000-999999</span>
            <span class="bets-body__sum">20</span>
            <div class="bets-body__chance">
                <div class="bets-body__chance__wrapper">
                    <div class="bets-body__chance__background"></div>
                </div>
            </div>
            <span class="bets-body__prize">0</span>
        </div>
        <div class='nvuti-body__bets__item'>
            <span class="bets-body__name">Кирилл Арефьев</span>
            <span class="bets-body__number">353838</span>
            <span class="bets-body__goal">300000-999999</span>
            <span class="bets-body__sum">20</span>
            <div class="bets-body__chance">
                <div class="bets-body__chance__wrapper">
                    <div class="bets-body__chance__background"></div>
                </div>
            </div>
            <span class="bets-body__prize">0</span>
        </div>
        <div class='nvuti-body__bets__item'>
            <span class="bets-body__name">Кирилл Арефьев</span>
            <span class="bets-body__number">353838</span>
            <span class="bets-body__goal">300000-999999</span>
            <span class="bets-body__sum">20</span>
            <div class="bets-body__chance">
                <div class="bets-body__chance__wrapper">
                    <div class="bets-body__chance__background"></div>
                </div>
            </div>
            <span class="bets-body__prize">0</span>
        </div>
        <div class='nvuti-body__bets__item'>
            <span class="bets-body__name">Кирилл Арефьев</span>
            <span class="bets-body__number">353838</span>
            <span class="bets-body__goal">300000-999999</span>
            <span class="bets-body__sum">20</span>
            <div class="bets-body__chance">
                <div class="bets-body__chance__wrapper">
                    <div class="bets-body__chance__background"></div>
                </div>
            </div>
            <span class="bets-body__prize">0</span>
        </div>
    </div>
</div>