<h2>Реферальная программа</h2>
<div class="green-line"></div>
<div class="ref-body">
    <div class="ref-body__stats">
        <div class="ref-body__stats__avatar"><img <%= photo %> /></div>
        <div class="ref-body__stats__info">
            <p>У вас: <span>12 рефералов</span> 0.5% от ставок</p>
            <div class="ref-body__stats__info__lvl">
                <div class="background"></div>
                <span>Уровень: 7</span>
            </div>
            <p>Следующий уровень: <span>35 рефералов</span> 0.7% от ставок</p>
        </div>
        <div class="ref-body__stats__balance">
            <p>У вас: <span>38000</span><img src="../img/coin.png" /></p>
            <div class="btn-login btn-writevk">
                Забрать монеты
            </div>
        </div>
    </div>
    <div class="grey-line"></div>
    <div class="ref-body__ref-code">
        <h5>Зарабатывайте вместе с нами!</h5>
        <div class="ref-body__ref-code__info">
            <p>
                Если Ваш друг введет код, то он<br />
                получит 50 монеток.<br />
                А вы будете получать до 1.5% с его ставок!
            </p>
            <div class="ref-body__ref-code__code">
                <span id="promo-code">AREFYEW</span>
                <img src="../img/icons/copy.svg" alt="">
                <label>Промокод успешно создан!</label>
            </div>
            <div class="btn-login btn-writevk">
                Создать промокод
            </div>
        </div>
    </div>
    <div class="grey-line"></div>
    <div class="ref-body__invite-code">
        <h5>Вас пригласили или есть промокод?</h5>
        <div class="ref-body__invite-code__info">
            <p>
                Вводи промокод и получай монеты <br />бесплатно!<br />
                За один промокод можно получить минимум 50 монеток.
            </p>
            <div class="ref-body__invite-code__code">
                <input type="text" id="invite-code" placeholder="Промокод" />
            </div>
            <div class="btn-login btn-writevk">
                Активировать
            </div>
        </div>
    </div>
    <div class="grey-line"></div>
    <div class="ref-body__results">
        <h5>Ваша статистика заработка</h5>
        <div class="ref-body__results__items">
            <div class="ref-body__results__items__item">
                <img src="../img/icons/casino-chip.svg">
                <span class="item-title">Fortune</span>
                <span class="item-amount">380 <img src="../img/coin.png" /></span>
            </div>
            <div class="ref-body__results__items__item">
                <img src="../img/icons/slot-machine.svg">
                <span class="item-title">JackPot</span>
                <span class="item-amount">380 <img src="../img/coin.png" /></span>
            </div>
            <div class="ref-body__results__items__item">
                <img src="../img/icons/chip.svg">
                <span class="item-title">Nvuti</span>
                <span class="item-amount">380 <img src="../img/coin.png" /></span>
            </div>
        </div>
    </div>
    <div class="grey-line"></div>
    <p class="final-result">Всего заработано: <span>38000</span> <img src="../img/coin.png" /></p>
</div>