<h2>Вывод / Ввод средств</h2>
<div class="green-line"></div>
<div class="withdraw-body">
    <div class="withdraw-body__categories">
        <div class="withdraw-body__categories__background"></div>
        <div class="withdraw-body__categories__out active">Вывести</div>
        <div class="withdraw-body__categories__in">Пополнить</div>
    </div>
    <div class="youtube-body__items">
        <div class="youtube-body__items__item">
            <img src="../img/icons/discount.svg" alt="">
            <p>Беспроцентный<br />вывод средств</p>
        </div>
        <div class="youtube-body__items__item">
            <img src="../img/icons/percent.svg" alt="">
            <p>Беспроцентный<br />вывод средств</p>
        </div>
        <div class="youtube-body__items__item">
            <img src="../img/icons/slot-machine.svg" alt="">
            <p>Беспроцентный<br />вывод средств</p>
        </div>
        <div class="youtube-body__items__item">
            <img src="../img/icons/credit-card(2).svg" alt="">
            <p>Беспроцентный<br />вывод средств</p>
        </div>
    </div>
    <div class="youtube-body__condition">
        <h6>ГЛАВНОЕ УСЛОВИЕ:</h6>
        <p>Ваш канал должен содержать<br /><span>минимум 1000 подписчиков</span></p>
        <a href="https://vk.com/im?media=&sel=-185691473" target="_blank" class="btn-login btn-writevk">
            Написать нам <img src="../img/icons/right.svg" alt="arrow" />
        </a>
    </div>
</div>