header {
  min-height: 110px;
}

header .fixed-container {
  max-width: 1270px;
}

header .logo h1, footer .logo h1 {
  font-family: 'Gotu', sans-serif;
}

header .logo h1 {
  background: linear-gradient(90deg, #76c02f, #aae439);
  font-size: 30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__buttons span {
  min-width: auto;
  margin-right: 0;
}

.first-section__desc__statistics__online {
  transform: scale(0.9);
}

.header__avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  cursor: pointer;
}

.header__avatar__photo {
  border-radius: 50%;
  width: 84px;
  height: 84px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__avatar__photo img {
  width: 150%;
}

.header__avatar__logout {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: linear-gradient(90deg, #76c02f, #aae439);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -5px;
  top: -5px;
}

.header__avatar__logout img {
  width: 50%;
}

.header__avatar__balance {
  position: absolute;
  bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #546cf0, #5babf6);
}

.header__avatar__balance span {
  color: #fff;
  font-size: 10px;
  margin-right: 0;
  min-width: auto;
}

.header__avatar__balance img {
  width: 11px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.btn-add-balance {
  justify-content: start;
  transform: scale(0.9);
}

.btn-add-balance img {
  margin-left: 40px;
}

.mob-header {
  justify-content: space-between;
  display: none;
}

.mob-header .header__avatar, .mob-header .first-section__desc__statistics__online {
  margin-left: 0;
}

.mob-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mob-menu i {
  background: linear-gradient(66deg, #546cf0, #5babf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  font-size: 35px;
}

@media screen and (max-width: 730px) {
  header .fixed-container {
    display: none;
  }

  header .mob-header {
    display: flex;
  }

  main .menu__btn {
    display: none;
  }

  main .menu {
    z-index: 10;
    display: flex;
    width: 0;
    overflow: hidden;
    transition: .9s;
  }

  main .menu__items {
    width: 100%;
  }

  main .menu__items__item span {
    display: inline;
  }
}

main {
  height: auto;
  align-items: center;
  background-color: #f5f6fb;
  position: relative;
}

.menu {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 49px;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
}

.menu__btn img {
  width: 18px;
  height: 18px;
  transition: .5s;
  transform: rotate(180deg);
}

.menu__btn .active {
  transform: rotate(0deg);
}

.menu__items {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.menu__items__item {
  height: 59px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu__items__item span {
  display: none;
  width: 180px;
}

.focus {
  border-left: 4px solid #546cf0;
  background-color: #f5f5f5;
}

.menu__items__item span {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  color: #171717;
}

.menu__items__item img {
  width: 26px;
  margin: 0 10px;
}

main .fixed-container {
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

main a {
  text-decoration: none;
}

main .fixed-container h2 {
  font-size: 20px;
  font-family: "ProximaNova-Semibold";
  color: #1b1b1b;
}

main .fixed-container .green-line {
  width: 39px;
  margin: 0;
  height: 3.2px;
}

.faq-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.faq-answers__answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 557px;
  width: 90%;
  background-color: #fff;
  border-radius: 34px;
  padding: 13px 0;
  margin-bottom: 40px;
  transition: 1.2s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.faq-answers__answer:hover {
  cursor: pointer;
}

.faq-answers__answer__title {
  display: flex;
  align-items: center;
  width: 95%;
}

.faq-answers__answer__title__icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  width: 43px;
  height: 43px;
}

.faq-answers__answer__title__icon img {
  width: 21px;
  height: 21px;
}

.faq-answers__answer__title h5 {
  font-size: 14px;
  font-family: "ProximaNova-Regular";
  color: #141414;
  margin-left: 10px;
}

.faq-arrow {
  width: 19px;
  opacity: 0.2;
  margin-left: auto;
  transform: rotate(90deg);
  margin-right: 20px;
  transition: 0.5s;
}

.faq-arrow.active {
  transform: rotate(-90deg);
}

.faq-answers__answer p {
  font-size: 12px;
  font-family: "ProximaNova-Thin";
  color: #141414;
  width: 77%;
  margin: 20px 0;
  display: none;
}

.faq-span {
  font-size: 16px;
  font-family: "ProximaNova-Regular";
  color: #141414;
  text-align: center;
}

.btn-writevk {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  font-family: "ProximaNova-Semibold";
  margin: 50px 0;
}

.btn-writevk img {
  margin: 2px 30px 0 30px;
}

@media screen and (max-width: 760px) {
  .btn-add-balance {
    display: none;
  }
  .header__avatar {
    margin-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .header__buttons span {
    display: block;
  }
  .first-section__desc__statistics__online {
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .first-section__desc__statistics__online {
    display: none;
  }
  .header__avatar {
    margin-left: auto;
  }
}

@media screen and (max-width: 480px) {
  .faq-answers__answer__title__icon {
    display: none;
  }
  .faq-answers__answer {
    padding: 23px 0;
  }
}


.youtube-body, .bonus-body, .withdraw-body, .ref-body {
  max-width: 696px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 90px;
  color: #141414;
  font-family: "ProximaNova-Regular";
  text-align: center;
  padding: 0 10px;
}

.youtube-body h5, .bonus-body h5, .ref-body h5 {
  margin: 30px 0;
  font-size: 15px;
}

.youtube-body .grey-line, .bonus-body .grey-line, .withdraw-body .grey-line, .ref-body .grey-line {
  max-width: 271px;
  width: 90%;
  margin-bottom: 25px;
}

.bonus-body .grey-line {
  margin-bottom: 0;
}

.youtube-body__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.youtube-body__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube-body__items__item img {
  width: 38px;
  margin-bottom: 15px;
}

.youtube-body__items__item p {
  font-size: 13px;
}

.youtube-body__condition {
  max-width: 468px;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.youtube-body__condition h6, .bonus-body p span {
  color: #81c831;
  font-size: 14px;
}

.youtube-body__condition h6 {
  margin: 20px 0 10px 0;
}

.youtube-body__condition p, .bonus-body p {
  font-size: 14px;
}

.youtube-body__condition p span {
  text-decoration: underline;
}

.youtube-body .btn-writevk, .bonus-body .btn-writevk, .withdraw-body .btn-writevk, .ref-body .btn-writevk {
  background: linear-gradient(66deg, #546cf0, #5babf6);
  box-shadow: 0px 11px 9px -3px rgba(91, 171, 246, 0.6);
  margin: 30px 0;
}

.youtube-body .btn-writevk:hover, .bonus-body .btn-writevk:hover, .withdraw-body .btn-writevk:hover, .ref-body .btn-writevk:hover {
  box-shadow: 0px 11px 9px -3px rgba(91, 171, 246, 0.7);
}

.bonus-body .btn-writevk, .withdraw-body .btn-writevk, .ref-body .btn-writevk {
  font-size: 13px;
}

.bonus-body .btn-writevk img, .withdraw-body .btn-writevk img {
  margin: 0 20px 0 15px;
  width: 18px;
}

.bonus-body p {
  margin-bottom: 10px;
}

.bonus-body__warning {
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.bonus-body__warning img {
  height: 47px;
  margin-right: 20px;
  opacity: .13;
}

.bonus-body__warning__text p {
  text-align: left;
}

.bonus-body__warning__text p:last-child {
  margin-bottom: 0;
}

.withdraw-body {
  min-height: 658px;
}

.withdraw-body__out, .withdraw-body__in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: 1.2s;
}

.withdraw-body__in {
  display: none;
}

.withdraw-body__categories {
  display: flex;
  align-items: center;
  max-width: 358px;
  width: 95%;
  border-radius: 23px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin: 40px 0;
  font-family: "ProximaNova-Semibold";
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  position: relative;
}

.withdraw-body__categories__in, .withdraw-body__categories__out {
  flex: 1;
  padding: 15px 0;
  cursor: pointer;
  background-color: inherit;
  z-index: 3;
  transition: 1.2s;
}

.withdraw-body__categories .active {
  color: #fff;
}

.withdraw-body__categories__background {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  left: 0;
  border-radius: 23px;
  transition: 1.2s;
}

.withdraw-body h5 {
  font-size: 17px;
  font-family: "ProximaNova-Semibold";
}

.withdraw-body__methods {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 358px;
  width: 95%;
  margin: 20px 0;
  position: relative;
}

.withdraw-body__methods div {
  width: 146px;
  border-radius: 18px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px 0;
}

.withdraw-body__methods .method {
  z-index: 2;
}

.withdraw-body__methods div img {
  width: 80%;
}

.withdraw-body__methods__background {
  position: absolute;
  margin: 0;
  left: 15px;
  top: -3px;
  border: 2px solid #5574f1;
  transition: 1.2s;
  z-index: 1;
}

.withdraw-body .for-withdraw {
  font-family: "ProximaNova-Light";
  font-size: 12px;
  margin: 10px 0 20px 0;
  display: flex;
  align-items: center;
}

.withdraw-body .for-withdraw .balance {
  margin: 0 3px;
}

.withdraw-body .for-withdraw img {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
}

.withdraw-body input[type='number'] {
  border-radius: 23.5px;
  background-color: #f8f8f8;
  margin: 10px 0;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  color: rgba(0, 0, 0, .6);
  border: none;
  max-width: 207px;
  width: 60%;
  padding: 0 30px;
  height: 47px;
}

.withdraw-body input[type='number']::-webkit-outer-spin-button,
.withdraw-body input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.withdraw-body .grey-line {
  margin-top: 10px;
  margin-bottom: 15px;
}

.withdraw-body__commission, .withdraw-body__result {
  max-width: 251px;
  padding: 0 10px;
  width: 90%;
  display: flex;
  align-items: center;
}

.withdraw-body__commission {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
}

.withdraw-body__commission span, .withdraw-body__result span {
  margin-left: auto;
}

.withdraw-body__result span {
  margin-right: 2px;
}

.withdraw-body__result {
  margin-top: 5px;
  font-family: "ProximaNova-Semibold";
  font-size: 15px;
}

.withdraw-body__condition {
  display: flex;
  align-items: center;
  color: #000;
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  margin: 20px 0;
}

.withdraw-body__condition label {
  margin-left: 5px;
}

.withdraw-body__condition input, .withdraw-body__condition label {
  cursor: pointer;
}

.withdraw-body__in input[type='number'] {
  margin-top: 40px;
}

.withdraw-body__in .grey-line {
  margin-bottom: 0;
  margin-top: 30px;
}

.withdraw-body__in .btn-writevk {
  margin-top: 30px;
  justify-content: center;
}

.withdraw-body__in .btn-writevk img {
  margin-right: 0;
}

.withdraw-body__out .btn-writevk img {
  margin-right: 30px;
}

.ref-body__stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 25px 0;
  width: 88%;

}

.ref-body__stats__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 84px;
  height: 84px;
}

.ref-body__stats__avatar img {
  width: 120%;
}

.ref-body__stats__info {
  display: flex;
  flex-direction: column;
}

.ref-body__stats__info p {
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  text-align: start;
}

.ref-body__stats__info span {
  color: #5789f3;
}

.ref-body__stats__info__lvl {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 266px;
  height: 36px;
  background-color: #f5f6fb;
  border-radius: 18px;
  position: relative;
  margin: 10px 0;
}

.ref-body__stats__info__lvl .background {
  height: 36px;
  width: 40%;
  position: absolute;
  left: 0;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  border-radius: 18px;
  z-index: 1;
}

.ref-body__stats__info__lvl span {
  color: rgba(0, 0, 0, .2);
  z-index: 2;
}

.ref-body .btn-writevk {
  width: 172px;
  height: 48px;
  justify-content: center;
  margin: 0;
  font-size: 12px;
}

.ref-body__stats__balance p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "ProximaNova-Regular";
  font-size: 13px;
}

.ref-body__stats__balance span {
  font-family: "ProximaNova-Semibold";
  margin: 0 3px;
}

.ref-body__stats__balance img {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}

.ref-body__ref-code, .ref-body__invite-code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 88%;
  margin-bottom: 50px;
}

.ref-body__ref-code h5, .ref-body__invite-code h5 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.ref-body__ref-code__info, .ref-body__invite-code__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ref-body__ref-code__info p, .ref-body__invite-code__info p {
  text-align: start;
  font-family: "ProximaNova-Light";
  font-size: 12px;
}

.ref-body__ref-code__code, .ref-body__invite-code__code input {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 150px;
  height: 45px;
  background-color: #f5f6fb;
  border-radius: 20px;
}

.ref-body__ref-code__code span, .ref-body__invite-code__code input {
  font-family: "ProximaNova-Regular";
  font-size: 13px;
}

.ref-body__ref-code__code img {
  cursor: pointer;
  margin-left: 40px;
  width: 15px;
  opacity: .23;
  transition: .2s;
}

.ref-body__ref-code__code img:hover {
  opacity: .43;
}

.ref-body__ref-code__code label {
  position: absolute;
  bottom: -19px;
  color: #26a933;
  font-family: "ProximaNova-Light";
  font-size: 12px;
  width: 155px;
}

.ref-body__invite-code__code {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.ref-body__invite-code__info p {
  width: 245px;
}

.ref-body__invite-code__code input {
  border: none;
  width: 120px;
  padding: 0 15px;
}

.ref-body__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.ref-body__results h5 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.ref-body__results__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ref-body__results__items__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 12px;
}

.ref-body__results__items__item img {
  width: 35px;
}

.ref-body__results__items__item .item-title {
  margin: 10px 0;
}

.ref-body__results__items__item .item-amount, .ref-body .final-result span {
  font-family: "ProximaNova-Semibold";
}

.ref-body__results__items__item .item-amount img {
  width: 10px;
  height: 10px;
}

.ref-body .final-result {
  display: flex;
  align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 13px;
  margin-bottom: 50px;
}

.ref-body .final-result span {
  margin: 0 5px;
}

.ref-body .final-result img {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}

@media screen and (max-width: 790px) {
  .ref-body__stats__avatar {
    width: 104px;
    height: 104px;
  }
  
  .ref-body__stats, .ref-body__ref-code__info, .ref-body__invite-code__info {
    flex-direction: column;
    justify-content: flex-start;
  }

  .ref-body__stats__info {
    margin: 20px 0;
  }

  .ref-body__ref-code, .ref-body__invite-code {
    align-items: center;
  }

  .ref-body__stats__info p, .ref-body__ref-code__info p, .ref-body__invite-code__info p {
    text-align: center;
  }

  .ref-body__ref-code__code, .ref-body__invite-code__code input {
    margin: 30px 0;
  }
}

.jackpot-body  {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 682px;
  width: 92%;
  margin-bottom: 90px;
}

.jackpot-body .logo, .nvuti-body .logo, .double-body .logo {
  width: 150px;
  margin-bottom: 40px;
}

.jackpot-body__stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 510px;
  width: 98%;
  min-height: 99px;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 40px;
  padding: 0 40px;
}

.jackpot-body__stats .grey-line {
  width: 1px;
  height: 26px;
  margin: 0 35px;
}

.jackpot-body__stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jackpot-body__stats__item span {
  display: flex;
  align-items: center;
  font-family: "ProximaNova-Semibold";
  font-size: 18px;
  text-align: center;
}

.jackpot-body__stats__item img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.jackpot-body__stats__item p {
  font-family: "ProximaNova-Light";
  font-size: 12px;
  opacity: .54;
  text-align: center;
}

.jackpot-body__user-story {
  font-family: "ProximaNova-Regular";
  font-size: 13px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 50px;
  cursor: pointer;
}

.jackpot-body__user-story img {
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.jackpot-body label {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  opacity: .5;
}

.jackpot-body__modes,
.jackpot-body__progress-bar,
.jackpot-body__user-balance,
.jackpot-body__bet-amount,
.jackpot-body__bets {
  max-width: 605px;
  width: 98%;
}

.jackpot-body__modes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 605px;
  width: 98%;
}

.jackpot-body__modes div {
  width: 176px;
  height: 76px;
  border-radius: 37px;
}

.jackpot-body__modes__background {
  position: absolute;
  border: 2px solid #83c550;
  transition: 1.2s;
}

.jackpot-body__modes__item {
  background-color: #fff;
  border: 2px solid #e9ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.jackpot-body__modes__item h6 {
  font-family: "ProximaNova-Regular";
  font-size: 13px;
  margin-bottom: 6px;
}

.jackpot-body__modes__item span {
  font-family: "ProximaNova-Semibold";
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.jackpot-body__modes__item span img {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.jackpot-body__modes__item label {
  font-family: "ProximaNova-Semibold";
  font-size: 11px;
  display: flex;
  align-items: center;
}

.jackpot-body__modes__item label img {
  width: 8px;
  height: 8px;
  margin-left: 3px;
}

.jackpot-body__jackpot-rn {
  font-family: "ProximaNova-Semibold";
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.jackpot-body__jackpot-rn img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.jackpot-body__progress-bar {
  height: 68px;
  border-radius: 34px;
  background-color: #e9ecff;
  position: relative;
}

.jackpot-body__progress-bar__background {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  transition: 1s;
}

.jackpot-body__progress-bar__background .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
}

.wrapper img {
  position: absolute;
  right: -15px;
  bottom: -15px;
}

.wrapper img:last-child {
  bottom: auto;
  top: -15px;
  transform: rotate(-180deg);
}

.jackpot-body__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.jackpot-body__timer span {
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
}

.jackpot-body__timer label {
  font-family: "ProximaNova-Regular";
  font-size: 13px;
  opacity: .5;
}

.jackpot-body__user-balance {
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.jackpot-body__user-balance img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-bottom: 2px;
}

.jackpot-body__bet-amount {
  position: relative;
}

.jackpot-body__bet-amount input {
  width: 86%;
  height: 45px;
  padding: 0 20px;
  background-color: #f0f0f0;
  border-radius: 23px;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  border: none;
  margin-top: 15px;
  margin-bottom: 60px;
}

.jackpot-body__bet-amount input[type='number']::-webkit-outer-spin-button,
.jackpot-body__bet-amount input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.jackpot-body__btn-bet {
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  color: #fff;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
  height: 45px;
  border: none;
  width: 20%;
  min-width: 70px;
  cursor: pointer;
  font-family: "ProximaNova-Semibold";
  font-size: 11px;
}

.jackpot-body__bets {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 22px;
  overflow-x: hidden;
  transition: 1.2s;
}

.jackpot-body__bets__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 73px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.jackpot-body__bets__item:last-child {
  border-bottom: none;
}

.jackpot-body__bets__item__info {
  display: flex;
  align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 13px;
}

.jackpot-body__bets__item__info .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.photo img {
  width: 120%;
}

.jackpot-body__bets__item__amount {
  display: flex;
  align-items: center;
  font-family: "ProximaNova-Semibold";
  font-size: 13px;
}

.jackpot-body__bets__item__amount label {
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  opacity: .4;
  margin-right: 5px;
}

.jackpot-body__bets__item__amount img {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.jackpot-body__bets__item__chance {
  display: flex;
  align-items: center;
}

.jackpot-body__tickets {
  display: flex;
  flex-direction: column;
  font-family: "ProximaNova-Regular";
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
}

.jackpot-body__tickets__number {
  font-family: "ProximaNova-Semibold";
  color: rgba(0, 0, 0, 1);
}

.jackpot-body__percent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #588ef3;
  border-radius: 50%;
  font-family: "ProximaNova-Semibold";
  font-size: 13px;
  margin-left: 20px;
}

@media screen and (max-width: 690px) {
  .jackpot-body__modes {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .jackpot-body__modes div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .jackpot-body__stats {
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .jackpot-body__stats .grey-line {
    height: 1px;
    width: 32px;
  }

  .jackpot-body__stats .grey-line, .jackpot-body__stats__item {
    margin-top: 30px;
  }

  .jackpot-body__stats__item:last-child {
    margin-bottom: 30px;
  }

  .jackpot-body__user-story {
    margin-top: 25px;
  }

  .jackpot-body__bets__item__info span, .jackpot-body__bets__item__amount label, .jackpot-body__tickets {
    display: none;
  }
}

.nvuti-body, .double-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 755px;
  width: 82%;
  margin-bottom: 90px;
}

.nvuti-body__warning {
  display: flex;
  width: 100%;
  font-size: 13px;
  font-family: "ProximaNova-Light";
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 0 50px;
}

.nvuti-body__warning img {
  width: 29px;
  height: 29px;
  margin-right: 15px;
}

.nvuti-body__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  margin-bottom: 90px;
}

.nvuti-body__stats input[type='number'], .double-body__stats input[type='number'] {
  width: 152px;
  height: 36px;
  padding: 0 20px;
  background-color: #f0f0f0;
  border-radius: 23px;
  border: none;
  margin: 20px 0;
}

.nvuti-body__stats input[type='number']::-webkit-outer-spin-button,
.nvuti-body__stats input[type='number']::-webkit-inner-spin-button,
.double-body__stats input[type='number']::-webkit-outer-spin-button,
.double-body__stats input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.nvuti-body__stats__user-amount, .nvuti-body__stats__user-percent, .nvuti-body__stats__user-chance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.double-percent, .double-amount {
  width: 192px;
  height: 36px;
  border-radius: 23px;
  border: none;
  color: #fff;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  cursor: pointer;
  background: linear-gradient(66deg, #546cf0, #5babf6);
  transition: .3s;
}

.double-percent:hover, .double-amount:hover, .nvuti-body__stats__user-chance__buttons button:hover {
  transform: translateY(-5px);
}

.nvuti-body__stats__user-chance .chance {
  font-family: "ProximaNova-Semibold";
  font-size: 74px;
  height: 72px;
  transform: translateY(-20px);
  background: linear-gradient(90deg, #76c02f, #aae439);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nvuti-body__stats__user-chance .text {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  transform: translateY(-13px);
}

.nvuti-body__stats__user-chance__buttons {
  display: flex;
  align-items: center;
  min-width: 242px;
  flex-wrap: wrap;
  justify-content: space-between;
  transform: translateY(-3px);
}

.nvuti-body__stats__user-chance__buttons button {
  background: linear-gradient(90deg, #76c02f, #aae439);
  color: #fff;
  width: 100px;
  height: 33px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 5px;
  transition: .3s;
}

.nvuti-body__stats__user-chance__less, .nvuti-body__stats__user-chance__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
}

.nvuti-body__bets {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 22px;
  background-color: #fff;
  overflow: hidden;
}

.nvuti-body__bets h5 {
  font-family: "ProximaNova-Semibold";
  font-size: 18px;
  opacity: .5;
  text-align: start;
  margin: 20px 0 30px 40px;
}

.nvuti-body__bets__header, .nvuti-body__bets__item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "ProximaNova-Light";
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.nvuti-body__bets__header * {
  text-align: center;
  flex: 1;
}

.bets-header__name, .bets-body__name {
  max-width: 110px;
  margin: 15px;
}

.bets-header__number, .bets-body__number {
  max-width: 50px;
  margin: 15px;
}

.bets-header__goal, .bets-body__goal {
  max-width: 110px;
  margin: 15px;
}

.bets-header__sum, .bets-body__sum {
  max-width: 70px;
  margin: 15px;
}

.bets-header__chance, .bets-body__chance {
  max-width: 145px;
  margin: 15px;
}

.bets-header__prize, .bets-body__prize {
  max-width: 80px;
  margin: 15px;
}

.bets-body__chance {
  display: flex;
  justify-content: center;
}

.nvuti-body__bets__item:last-child {
  border-bottom: none;
}

.nvuti-body__bets__item * {
  text-align: center;
  flex: 1;
}

.bets-body__number, .bets-body__prize {
  color: red;
}

.bets-body__chance__wrapper {
  max-width: 88px;
  position: relative;
  height: 6px;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.bets-body__chance__background {
  position: absolute;
  height: 100%;
  left: 0;
  width: 20%;
  border-radius: 3px;
  background-color: red;
  top: 0;
  margin: 0;
}

@media screen and (max-width: 890px) {
  .nvuti-body__stats {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .nvuti-body__stats__user-amount, .nvuti-body__stats__user-percent, .nvuti-body__stats__user-chance {
    margin-bottom: 40px;
  }

  .bets-header__goal, .bets-body__goal {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .nvuti-body__warning {
    padding: 0;
  }

  .nvuti-body__warning img {
    display: none;
  }

  .nvuti-body__warning p {
    text-align: center;
  }

  .bets-header__number, .bets-body__number {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .bets-header__chance, .bets-body__chance {
    display: none;
  }
}

.double-body__roulette {
  width: 290px;
  height: 294px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}

.double-body__roulette .wheel {
  width: 100%;
  transform: translateY(-56px) rotate(3deg);
}

.double-body__roulette__timer, .double-body__roulette__name, .double-body__roulette__history, .double-body__roulette .arrow {
  position: absolute;
}

.double-body__roulette .arrow {
  top: 7%;
  left: calc(50% - 10px);
}

.double-body__roulette__timer, .double-body__roulette__name {
  width: 100%;
  text-align: center;
  font-family: "ProximaNova-Semibold";
  left: 0;
}

.double-body__roulette__timer {
  top: 30%;
  opacity: .3;
  font-size: 48px;
}

.double-body__roulette__name {
  bottom: 20%;
  opacity: .1;
  font-size: 19px;
}

.double-body__roulette__history {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 14%;
  width: 120px;
  left: calc(50% - 60px);
}

.black {
  background-color: #000;
}

.green {
  background-color: #56eb2e;
}

.blue {
  background-color: #0d96d5;
}

.red {
  background-color: #eb2e2e;
}

.double-body__roulette__history__game {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.double-body__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  margin: 40px 0;
}

.double-body__stats__user {
  display: flex;
  align-items: center;
  width: 100%;
}

.double-body__stats__balance, .double-body__stats__history {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  display: flex;
  align-items: center;
}

.double-body__stats__balance span {
  margin: 0 3px;
}

.double-body__stats__balance img {
  width: 13px;
  height: 13px;
}

.double-body__stats__history {
  margin-left: auto;
  text-decoration: underline;
  cursor: pointer;
}

.double-body__stats__history img {
  height: 15px;
  width: 16px;
  margin-right: 3px;
}

.double-body__stats input[type="number"] {
  width: 95%;
  margin-top: 10px;
}

.double-body__stats__buttons {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.double-body__stats__buttons button {
  background: linear-gradient(66deg, #76c02f, #aae439);
  color: #fff;
  min-width: 34px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  font-family: "ProximaNova-Regular";
  font-size: 12px;
  padding: 0 4px;
  transition: .3s;
}

.double-body__stats__buttons button:hover {
  transform: translateY(-5px);
}

.double-body__bets {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.double-body__bets__bet {
  background-color: #fff;
  border-radius: 17px;
  width: 173px;
  max-height: 426px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
  transition: .6;
}

.double-body__bets__bet:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.double-body__bets__bet:last-child {
  margin-right: 0;
}

.double-body__bets__bet .blue {
  background: linear-gradient(66deg, #546cf0, #5babf6);
}

.double-body__bets__bet .green {
  background: linear-gradient(90deg, #76c02f, #aae439);
}

.double-body__bets__bet .red {
  background: linear-gradient(90deg, #ee4a03, #a82103);
}

.double-body__bets__bet h6 {
  height: 61px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "ProximaNova-Semibold";
  font-size: 15px;
}

.double-body__bets__bet span {
  color: #bbb;
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.double-body__bets__bet span label {
  color: #000;
  margin: 0 3px;
}

.double-body__bets__bet span img {
  width: 13px;
  height: 13px;
  transform: translateY(2px);
}

.double-body__bets__bet__users {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .14);
  border-bottom: 1px solid rgba(0, 0, 0, .14);
  overflow: hidden;
}

.double-body__bets__user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.double-body__bets__user .photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.double-body__bets__user .photo img {
  width: 110%;
}

.double-body__bets__user .fullname, .double-body__bets__user .bet-amount {
  font-size: 10px;
  width: auto;
  color: #000;
}

.double-body__bets__user .fullname {
  font-family: "ProximaNova-Light";
}

.double-body__bets__user .bet-amount {
  font-family: "ProximaNova-Regular";
}

.double-body__bets__user .bet-amount img {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  margin-bottom: 1px;
}

.double-body__bets__bet__others {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 6px 0 20px 0;
}

.double-body__bets__bet__others span {
  color: #000;
  text-align: center;
  margin: 0;
  font-family: "ProximaNova-Regular";
  font-size: 12px;
}

@media screen and (max-width: 1009px) {
  .double-body__bets__bet {
    margin-top: 20px;
  }
}

@media screen and (max-width: 756px) {
  .double-body__bets__bet:nth-child(2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 534px) {
  .double-body__stats__buttons button {
    margin-top: 20px;
  }

  .double-body__stats__buttons {
    justify-content: space-around;
  }
}

@media screen and (max-width: 490px) {
  .double-body__bets__bet {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .double-body__stats__user {
    flex-direction: column-reverse;
    align-items: center;
  }

  .double-body__stats__history {
    margin-left: 0;
    margin-bottom: 20px;
  }
}